<%- include("partials/header.ejs") %>

<h1>Sushmitha</h1>
<div class="aboutme">
  <img class="profile" src="images/cat.jpeg" alt="cat profile">
  <p>
   I am working as a senior consultant in SAP ABAP at LTIMindtree. My primary interests are in 
   Web Development, Python and SAP ABAP on HANA. I completed my graduation in Computer Science
   at the Indian Institute of Techology, Tirupati. </p>
  
</div>

  <%- include("partials/footer.ejs") %>
