<%- include("partials/header.ejs") %>

<h1>Contact Me</h1>
<div class="contactform">
  <form>
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
    <input type="submit" class="contactbtn" value="SUBMIT" />
  </form>
</div>


<%- include("partials/footer.ejs") %>
