html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  /* text-align: center; */
  padding: 5vmin;
  flex: 1 0 auto;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}

p {
  color: grey;
}

.profile {
  margin-top: 25px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  margin-top: 50px;
}

.feedback-input {
  /* color: white; */
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #860A35;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #A3B763;
}

textarea {
  height: 200px;
  line-height: 150%;
  resize: vertical;
}

.contactbtn {
  width: 150px;
  background: #860A35;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
  float: right;
}
[type="submit"]:hover {
  background: #A3B763;
}
.firstblog .card-text{
  min-height: 100px;
}
.alllist ul{
  max-height: 300px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.view p{
  min-height: 150px;
}